.component-vehicles {
  display: flex;
  min-height: 100vh;

  @media screen and (max-width: $screen-mobile){
    flex-wrap: nowrap;
    flex-direction: column;
  }

  @media screen and (min-width: $screen-tablet) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: $screen-desktop) {
    flex-wrap: nowrap;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
}